@model IEnumerable<CRUDWithIssuesCore.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student s in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => s.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.DateOfBirth)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@s.StudentId" class="btn btn-secondary">Update</a> |
                    <a asp-action="Delete" asp-route-id="@s.StudentId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
